[Desktop Entry]
Version=1.0
Type=Application
Name=Lean Timer
Name[zh_CN]=学习时钟
Comment=Lean Timer GTK desktop app
Comment[zh_CN]=学习计时器
Exec=/home/jing/Documents/Projects/lean-timer/scripts/run.sh
Path=/home/jing/Documents/Projects/lean-timer
TryExec=/home/jing/Documents/Projects/lean-timer/scripts/run.sh
Icon=alarm-symbolic
Terminal=false
Categories=Utility;Education;
StartupNotify=true
X-GNOME-UsesNotifications=true
